
<div class="@componentClass" id="@ComponentId">
    <div class="input-wrapper">
        <span class="label">@Label</span>
        <input class="p-date"
               id="@InputId"
               @onclick="OpenPicker"
               placeholder="@PlaceHolder"
               @bind-value="@selectedDateInPersianFormat"
               @bind-value:event="oninput"
               @onchange="OnChangeHandler"/>
        @if (For is not null)
        {
            <CustomValidationMessage For="For" OnValidationChanged="OnValidationChanged" @ref="validation" />
        }
        @if (!string.IsNullOrWhiteSpace(selectedDateInPersianFormat))
        {
            <a @onclick="Clear" class="clear">&#10006;</a>
        }
    </div>

    <div class="@pickerClass">

        <div class="@monthClass">
            @foreach (var item in PersianDateHelper.GetMonths())
            {
                <a @onclick="()=>GoToMonth(item.MonthNumber)">@item.MonthName</a>
            }
        </div>


        <div class="@yearClass">
            @for (int i = 1340; i <= 1440; i++)
            {
                var year = i;
                <a @onclick="()=>GoToYear(year)">@i</a>
            }
        </div>


        <div class="@calendarClass">
            <div class="year">
                <span @onclick="YearMode">@currentYear</span>
            </div>
            <div class="month">
                <a @onclick="PrevMonth" class="navigation">&#8249;</a>
                <span @onclick="MonthMode">@fullMonthName</span>
                <a @onclick="NextMonth" class="navigation">&#8250;</a>
            </div>
            <div class="week">
                @foreach (var name in PersianDateHelper.WeekNames)
                {
                    <div class="day-name">
                        <span>@name</span>
                    </div>
                }
                @foreach (var item in cells)
                {
                    var dayClass = item.Show ? "day" : "";
                    if (item.Show && selectedDate.HasValue && selectedDate.Value.Date == item.Date.Date)
                        dayClass = $"{dayClass} current";
                    <div class="@dayClass" @onclick="()=>SelectDate(item.Date)">
                        @if (item.Show)
                        {
                            <a>@item.Day</a>
                        }
                    </div>
                }
            </div>
        </div>

    </div>

</div>
